//colors and mixins

@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}

.border-icon { //иконки с круглыми границами по контуру
  border: 5px solid #f5f5f5;
  padding: 10%;
  @media (max-width: 767px) {
    padding: 4%;
  }
}

.light-grey-text-color {
  color: #f5f5f5;
}

.grey-text-color {
  color: #818a91;
}

@purple-color: #6c59b4;

.lato {
  font-family: 'Lato', sans-serif;
}

//------------------------------------------

body {
  font-family: "Raleway Regular";
  .jumbotron {
    background: url("../img/bg-header.jpg") no-repeat center top;
    background-size: cover;
    height: 100vh;
    @media (max-width: 767px) {
      height: 70vh;
    }
    margin-bottom: 0;

    .navbar-default {
      background: none;
      border: none;

      //подсветка вокруг бургера
      .navbar-toggle:focus {
        background: none;
      }

      .container {
        .siluet-dropdown {

          #dropdownMenu1 {
            display: none;
            float: left;
            right: 50px;
            top: 6px;
            position: absolute;
            background: none;
            border: none;

            @media (max-width: 767px) {
              display: block;
            }

            .siluet {
              width: 25px;
              opacity: .7;
            }
            &:hover {
              .siluet {
                opacity: 1;

              }
            }
          }
          .dropdown-menu {
            background-color: white;
            padding: 0 2% 2%;
            opacity: 1;
            border-radius: 5px;
            box-shadow: none;
            width: 515px;
            position: absolute;
            left: 0;
            right: 0;
            top: 45px;
            margin: auto;
            @media (max-width: 540px) {
              width: 95%;
              padding-left: 3%;
            }
            @media (min-width: 768px) {
              display: none;
            }
            .drop-face-menu {
              padding: 2% 0;
              img {
                width: 65px;
                height: 65px;
                bottom: 0;
                float: left;
                margin-right: 10px;
              }
              small {
                color: black;
              }
            }

            .dropdown-inside {
              padding: 0;
              margin-top: 2%;
              line-height: 2.5;
              list-style-type: none;
              li {
                a {
                  color: #000;
                  font-size: 1.3rem;
                  font-weight: bold;
                  opacity: 0.7;
                  &:hover {
                    text-decoration: none;
                    color: @purple-color;
                    opacity: 1;
                  }
                }
                &:hover {
                  opacity: 1;
                }
                .log-out {
                  opacity: .4;
                  &:hover {
                    opacity: .4;
                    color: inherit;
                  }
                }
                &:last-child {
                  img {
                    width: 45px;
                    height: 45px;
                    background-image: linear-gradient(45deg, #663fb5, #2b8be3);
                    &:hover {
                      background-image: none;
                      background-color: @purple-color;
                    }
                  }
                }
              }
            }
          }
        }

        .burger {
          border: none;
          span {
            width: 25px;
            height: 3px;
            background-color: rgba(255, 255, 255, .6);
          }
          &:hover {
            background: none;
            span {
              background-color: rgba(255, 255, 255, 1);
            }
          }
        }
        .toggle-dropdown {
          background: none;
          margin: auto;
          padding: 0;
          position: absolute;
          left: 0;
          right: 0;
          width: 515px;
          //width: 70%;
          border: none;
          @media (max-width: 545px) {
            width: 95%;
          }
          @media (min-width: 768px) {
            display: none;
          }
          .dropdown-inside {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
              background-color: #fff;
              padding: 2% 2% 2% 0;
              margin-bottom: 1px;
              a {
                color: black;
                opacity: .5;
                &:hover {
                  text-decoration: none;
                  opacity: .7;
                }
              }
              &:first-child {
                a {
                  color: @purple-color;
                  opacity: .7;
                }
              }
            }
          }
        }
        ul > li > a {
          color: white;
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
      .navbar-collapse {
        border: none;
        box-shadow: none;
      }
      .horiz-list {
        @media (max-width: 767px) {
          .search-icon, .divider {
            display: none;
          }
        }
        .active {
          a {
            background: none;
            border-bottom: solid 1px rgba(255, 255, 255, .3);
            &:hover {
              color: white;
              opacity: 1;
            }
          }
          .form-control {
            width: 30rem;
          }
          &:hover {
            opacity: 1;
          }
        }
        li:hover {
          opacity: .7;
        }
        .round-divider {
          opacity: .3;
          line-height: 2;
        }
        #nav-search {
          font-size: 2.5rem;
          font-weight: 100;
          line-height: 0.4;
        }

        .dropdown {
          opacity: 1;
          &:hover {
            opacity: 1;
          }
          .dropdown-inside {
            list-style-type: none;
          }
          a {
            background: none;
            &:hover {
              background: none;
            }
          }
          img {
            border: solid white 4.5px;
            width: 50px;
            height: 50px;
            vertical-align: text-bottom;
            float: left;
            position: relative;
            bottom: 18px;
          }
          span {
            margin-left: 5px;
          }
          .dropdown-menu {
            background-color: white;
            padding: 0 20%;
            opacity: 1;
            border-radius: 5px;
            box-shadow: none;
            width: 25rem;
            .drop-face-menu {
              padding: 10% 0;
              border-bottom: solid 1px rgba(0, 0, 0, .1);
              img {
                width: 65px;
                height: 65px;
                bottom: 0;
              }
              small {
                color: black;
              }
            }

            .dropdown-inside {
              padding: 0;
              margin-top: 5%;
              line-height: 2.5;
              li {
                a {
                  color: black;
                  font-size: 1.1rem;
                  font-weight: 100;
                  &:hover {
                    text-decoration: none;
                    color: @purple-color;
                    opacity: 1;
                  }
                }
                &:hover {
                  opacity: 1;
                }
                .log-out {
                  opacity: .4;
                  &:hover {
                    opacity: .4;
                    color: inherit;
                  }
                }
                &:last-child {
                  img {
                    width: 45px;
                    height: 45px;
                    background-image: linear-gradient(45deg, #663fb5, #2b8be3);
                    &:hover {
                      background-image: none;
                      background-color: @purple-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .container {
      height: 70%;
      h1 {
        color: white;
        margin-bottom: 1rem;
        font-size: 8rem;
        @media (max-width: 767px) {
          font-size: 3.5rem;
        }
      }
      p {
        color: white;
        font-size: 2.5rem;
        a {
          color: white;
          opacity: .7;
          &:hover {
            text-decoration: none;
            opacity: 1;
          }
        }
        @media (max-width: 767px) {
          font-size: 2rem;
          margin-bottom: 6rem;
        }
      }
      .button-link {
        border-radius: 45px;
        padding: 2.5% 3%;
        background: none;
        border: solid 1px rgba(255, 255, 255, 0.5);
        color: white;
        margin-top: 4%;
        transition: 300ms;
        font-size: 1.2rem;
        letter-spacing: 3px;
        font-weight: bold;
        &:hover {
          background: rgba(255, 255, 255, 0.5);
          border: solid 1px rgba(255, 255, 255, 0.1);
          transition: 300ms;
        }
      }
      .social-icons {
        position: relative;
        left: 0;
        right: 0;
        margin-top: 13%;
        li {
          border-left: solid 1px rgba(255, 255, 255, .4);
          padding: 0 10px;
          a {
            color: white;
            img {
              width: 15px;
              vertical-align: top;
              opacity: .7;
            }
            &:hover {
              text-decoration: none;
              img {
                opacity: 1;
              }
            }
          }
          &:first-child {
            border-left: none;
          }
        }
        @media (max-width: 767px) {
          margin-top: 5%;
        }
      }
    }
  }

  .section-phone {
    background-color: #F4F5F7;
    padding: 6% 0 0 0;
    .phone-text {
      font-size: 17px;
      margin-bottom: 5%;
    }
  }

  .section-icons {
    padding: 7% 0 7% 0;
    .card {
      padding: 0 5% 0 5%;
      .icon {
        .border-icon;
      }
      .card-title {
        font-size: 1.7rem;
        .grey-text-color;
        border-bottom: solid 1px #f5f5f5;
        padding-bottom: 15%;
        @media (max-width: 767px) {
          padding-bottom: 5%;
        }
      }
      .card-text {
        padding-top: 7%;
        font-size: 1.5rem;
        line-height: 2;
        @media (max-width: 767px) {
          padding-top: 2%;
        }
      }
    }
  }

  .section-video {
    background: url("../img/video-poster.jpg") no-repeat center top;
    background-size: cover;
    opacity: .6;
    width: 100%;
    height: 40vw;
    margin: auto;
    transition: 200ms;
    &:hover {
      opacity: 1;
      transition: 200ms;
    }
    span {
      color: white;
      font-size: 6rem;
      position: relative;
      left: 50%;
      right: 50%;
      top: 17vw;
      cursor: pointer;
    }
    #video-block {
      display: none;
      width: 100%;
      height: 40vw;
    }
  }
  .section-options {
    padding: 6% 0 11% 0;
    background-color: #f5f5f5;
    h2 {
      margin-bottom: 5%;
    }
    .row {
      overflow: hidden;
      @media (max-width: 768px) {
        padding: 0 10%;
      }
      .options {
        padding: 0;
        margin-top: 1%;
        background-color: white;
        border-radius: 4px;
        border: 1px solid #eceff3;
        overflow: hidden;
        p, ul {
          font-size: 15px;
        }
        .options-header {
          background-color: #eceff3;
          p {
            padding: 5%;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
        .options-card {
          width: 95%;
          padding: 5% 0 7% 0;
          .big-price {
            sup {
              font-size: 3rem;
              top: -1em;
            }
            span {
              font-size: 7rem;
              font-weight: bold;
              opacity: .9;
            }
          }
          ul li {
            border-right: none;
            border-left: none;
            border-bottom: none;
            &:first-child {
              border-top: none;
            }
            &:last-child {
              border-bottom: none;
            }
          }
          .btn {
            margin-top: 10%;
            padding: 7% 17%;
            font-weight: bold;
            font-size: 1.3rem;
            letter-spacing: 1px;
            border-radius: 50px;
            border: @purple-color solid 1px;
            color: @purple-color;
            transition: 300ms;
            &:hover {
              background-color: @purple-color;
              color: white;
              transition: 300ms;
            }
          }
        }
      }
      .middle-option {
        position: relative;
        z-index: 50;
        margin-top: 0;
        border: @purple-color solid 2px;
        .options-header {
          background-color: @purple-color;
          p {
            color: white;
          }
        }
        .options-card {
          .btn {
            background-color: @purple-color;
            color: white;
            transition: 300ms;
            &:hover {
              background-color: #554496;
              transition: 300ms;
            }
          }
        }
      }
    }

  }
  .section-people {
    background: url("../img/bg-testimonials.jpg") no-repeat center top;
    background-size: cover;
    width: 100%;
    min-height: 540px;
    padding: 7% 0 0 0;
    .carousel-inner {
      .blockquote {
        color: white;
        border-left: none;
        img {
          width: 80px;
          height: 80px;
          border: 4px solid #FFF;
          margin-bottom: 4%;
        }
        h2 {
          opacity: .9;
          font-size: 2.5rem;
          line-height: 1.5;
        }
        .blockquote-footer {
          color: white;
          font-size: 16px;
        }
      }
    }
    .carousel-indicators {
      position: relative;
      margin-top: 14%;
      li {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 4px solid #FFF;
        overflow: hidden;
        opacity: .6;
        transition: 150ms;
        margin-left: 2%;
        vertical-align: middle;
        img {
          width: inherit;
          height: inherit;
        }
      }
      .active {
        width: 55px;
        height: 55px;
        opacity: 1;
        transition: 150ms;
      }
    }
  }

  .section-describe {
    padding: 5% 0;
    h2 {
      margin-bottom: 6%;
    }
    p {
      line-height: 2;
      font-size: 1.6rem;
      opacity: .9;
    }
    .row {
      div:first-child {
        padding-right: 9%;
      }
      div:last-child {
        padding-left: 9%;
        border-left: solid #f5f5f5 1px;
      }
      @media (max-width: 995px) {
        div:first-child {
          padding: 3% 10%;
        }

        div:last-child {
          padding: 3% 10%;
          border: none;
        }
      }
    }
  }

  .section-pictures {
    padding: 5% 0 7% 0;
    .row {
      background-color: #312f38;
      margin: 0;
      div {
        padding: 0;
        img {
          opacity: .5;
        }
      }
      article {
        position: relative;
        top: 8rem;
        width: 75%;
        padding: 1rem;
        @media (max-width: 1023px) {
          top: 4rem;
        }
        @media (max-width: 767px) {
          top: 0.7rem;
        }
        .label {
          padding: 1.1% 2.4%;
          border-radius: 15px;
          background-color: #2B8BE3;
          font-size: 1.2rem;
        }
        h4 {
          margin: 0;
          line-height: 2;
          font-size: 1.7rem;
        }
        p {
          opacity: .5;
          line-height: 4;
          font-size: 1rem;
          margin: 0;
        }
        a {
          color: white;
          margin-right: 2%;
          .glyphicon-menu-right {
            font-size: 14px;
            transition: 300ms;
          }
          &:hover {
            text-decoration: none;
            .glyphicon-menu-right {
              margin-left: 5%;
              transition: 300ms;
            }
          }
        }
      }
    }
  }
  .section-signup {
    padding: 5% 1%;
    background-color: #f4f5f7;
    .container {
      padding: 0;
      h2 {
        margin-bottom: 4%;
      }

      #frm {
        color: rgba(187, 190, 196, 0.8);
        a {
          color: rgba(187, 190, 196, 0.8);
          text-decoration: underline;
          &:hover {
            color: rgba(187, 190, 196, 1);
          }
        }

        .row {
          margin: 0;
          div {
            &:last-child {
              .input-group {
                border: none;
              }
            }
          }
          .input-group {
            width: 100%;
            margin-bottom: 4%;
            border: solid 1px rgba(0, 0, 0, .1);
            overflow: hidden;
            border-radius: 4px;
            box-shadow: none;
            span {
              background-color: #fff;
              border: none;
            }
            .form-control {
              width: 100%;
              height: 6rem;
              border-radius: 0;
              border: none;
              border-left: solid 1px rgba(0, 0, 0, .1);
              box-shadow: none;
            }
            #frmBtn {
              background-color: @purple-color;
              border: @purple-color;
              padding: 6px 15%;
              border-radius: 35px;
              font-weight: 900;
            }
          }
        }
      }
    }
  }
  .section-footer {
    background-color: #312f38;
    padding: 5% 0;
    color: white;
    @media (max-width: 767px) {
      padding: 10% 0;
    }
    .row {
      .icon-block {
        float: left;
        margin-bottom: 10%;
        @media (max-width: 767px) {
          clear: both;
          width: 100%;
        }
      }
      div:first-child {
        padding: 0 10% 0 2%;
        @media (max-width: 767px) {
          padding: 0;
          text-align: center;
          margin-bottom: 3%;
        }
      }
      div:last-child {
        padding-top: 2%;
        ul {
          li {
            padding: 0 15px;
            margin-bottom: 4%;
            &:first-child {
              a {
                border-bottom: solid 1px rgba(255, 255, 255, .3);
                &:hover {
                  color: white;
                }
              }
            }
            #scrollTop {
              cursor: pointer;
            }
          }
          @media (max-width: 767px) {
            text-align: center;
            li {
              display: block;
            }
          }
        }
      }
      a {
        color: white;
        font-size: 16px;
        &:hover {
          text-decoration: none;
          color: #adacaf;
        }
      }
    }
  }
}